# Ignores for xml testing project

Some XML Testing/bin/
Some XML Testing/obj/

#Ignores for 'useful methods'

HorosUsefulMethods/bin/
HorosUsefulMethods/obj/
HorosUsefulMethods/HorosUsefulMethods/net5.0/HorosUsefulMethods.deps.json
HorosUsefulMethods/HorosUsefulMethods/net5.0/HorosUsefulMethods.pdb
HorosUsefulMethods/HorosUsefulMethods/net5.0/ref/

#ignores for 'remote' bot

RemoteHostManager/bin/
RemoteHostManager/obj/
RemoteHostManager/RemoteHostManager/
